h1, h2, h3, h4, h5, h6, ol, ul, li, a, p {
    font-family: "Tahoma";
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    list-style: none;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
}

.page {
    margin-top: 40px;
}

.wrapper {
    width: 60%;
    margin: auto;
}

.heading .wrapper {
    display: flex;
    justify-content: space-between;
}

.heading {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #05233B;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 500;
}

.heading_left_list {
    display: flex;
}

.heading_left_list_item {
    padding-right: 20px;
    display: flex;
}

.heading_left_list_item_txt {
    padding-left: 10px;
}

.heading_left_list_item_img {
    width: 30px;
    height: 20px;
}

    .heading_left_list_item_img > img {
        width: 100%;
        height: 100%;
    }

.heading_right_list {
    display: flex;
}

.heading_right_list_item {
    padding-left: 20px;
}

.heading_right_list_item_img {
    width: 30px;
    height: 20px;
}

    .heading_right_list_item_img > img {
        width: 100%;
        height: 100%;
    }


.menu {
    padding-top: 30px;
    padding-bottom: 30px;
}

    .menu .wrapper {
        display: flex;
        justify-content: space-between;
    }

.menu_name {
    display: flex;
    font-size: 34px;
    height: 75px;
    width: 75px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
}

.menu_list_item {
    margin-left: 30px;
    padding-top: 8px;
}

    .menu_list_item > a {
        font-size: 18px;
        color: #000;
    }

.logo {
    margin: 0px;
    padding: 0px;
    height: 500px;
    position: relative;
}

.logo_title {
    position: absolute;
    margin: 10% 33%;
    text-align: center;
    z-index: 2;
    top: 0;
    left: 0;
}

    .logo_title > h1 {
        color: white;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
    }

    .logo_title > h2 {
        color: white;
        font-size: 25px;
        padding-top: 30px;
        text-align: center;
    }

.logo > img {
    height: 100%;
    width: 100%;
}

.logo_buttons {
    padding-top: 50px;
    text-align: center;
    margin-left: 30%;
    width: 40%;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo_button_left {
    background-color: #16A086;
    padding: 10px;
    width: 100px;
}

    .logo_button_left > a {
        color: white;
    }

.logo_button_right {
    background-color: white;
    padding: 10px;
    width: 100px;
}

    .logo_button_right > a {
        color: #616161;
    }


.__ {
    margin-left: 48%;
    margin-right: 52%;
    margin-top: 10px;
    width: 50px;
    color: #333333;
    border-top: black 2px solid;
}



.our_services_title {
    text-align: center;
    margin-top: 40px;
    font-size: 35px;
    font-family: "Tahoma";
}

.our_services_list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.our_services_list_item {
    width: 450px;
    text-align: center;
}

.our_services_list_item_pict {
    width: 300px;
    height: 200px;
    text-align: center;
}

.our_services_list_item_text {
    color: white;
    margin: 20px;
}

.our_services_list_item_text_title {
    font-weight: bold;
    background-color: #052439;
    padding: 20px;
    padding-bottom: 10px;
    text-align: left;
}

.our_services_list_item_text_sub {
    background-color: #052439;
    padding: 20px;
    padding-top: 10px;
    text-align: left;
}



.option {
    background-color: #f5f5f5;
}

.option_title {
    text-align: center;
    margin-top: 75px;
    padding-top: 75px;
    font-size: 35px;
    font-family: "Tahoma";
}

.option_list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.option_list_item {
    border: 3px #16A086 solid;
    width: 22%;
    text-align: center;
    margin-bottom: 100px;
}

.option_list_item_img1 {
    margin: auto;
    height: 150px;
    width: 150px;
    background-image: url(../img/option/meeting.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.option_list_item_img2 {
    margin: auto;
    height: 150px;
    width: 150px;
    background-image: url(../img/option/idea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.option_list_item_img3 {
    margin: auto;
    height: 150px;
    width: 150px;
    background-image: url(../img/option/network.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.option_list_item_img4 {
    margin: auto;
    height: 150px;
    width: 150px;
    background-image: url(../img/option/security.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.request {
    width: 100%;
    background-color: #05233B;
    color: #ffff;
}

    .request .wrapper {
        padding-top: 100px;
    }

.request_title {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

    .request_title > h1 {
        font-size: 31px;
        font-weight: bold;
    }

        .request_title > h1 .__ {
            border: 2px white solid;
            margin-left: 0px;
            width: 75px;
        }

.request_form {
    width: 300px;
    height: 50px;
}

.request_subtitle {
    display: flex;
    margin-left: 20px;
    padding-bottom: 100px;
}

.request_subtitle > h2 {
    width: 30%;
    padding-top: 18px;
}

.request_subtitle .call_form {
    margin-left: 61px;
}

.request_subtitle .hello_button_left {
    margin-left: 90px;
    text-align: center;
    padding-top: 18px;
}

    .request_subtitle .hello_button_left > a {
        font-weight: bold;
    }



.projects {
    background-color: #f5f5f5;
    padding-bottom: 100px;
}

    .projects .wrapper {
        text-align: center;
        padding-top: 100px;
    }
.projects_title {
    font-size: 35px;
    text-align: center;
    font-family: "Tahoma";
}

.featured_projects {
    display: flex;
    margin-top: 50px;
}

.featured_projects_item {
    width: 400px;
    position: relative;
}

.featured_projects_item_img {
    width: 100%;
    height: 100%;
}

.featured_projects_item_text {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 100%;
    z-index: 5;
    color: white;
    box-sizing: border-box;
    background-color: rgb(5, 35, 59, 0.8);
    text-align: left;
    padding-top: 12px;
    padding-left: 15px;
    padding-bottom: 16px;
}



.statistic {
    position: relative;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 150px;
    background-image: url(img/statistics/table1.jpg);
}

.statistic_front {
    background-color: rgb(5, 35, 59, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}

.statistic_list {
    display: flex;
    position: relative;
}

.statistic_list_item1 {
    position: absolute;
    top: 25%;
    left: 27%;
    z-index: 11;
    color: white;
    text-align: center;
    font-size: 30px;
}

.statistic_list_item2 {
    position: absolute;
    top: 25%;
    left: 48%;
    z-index: 12;
    color: white;
    text-align: center;
    font-size: 30px;
}

.statistic_list_item3 {
    position: absolute;
    top: 25%;
    left: 67%;
    z-index: 13;
    color: white;
    text-align: center;
    font-size: 30px;
}

.statistic_list_item1 > h1 {
    font-size: 50px;
    font-weight: bold;
}

.statistic_list_item2 > h1 {
    font-size: 50px;
    font-weight: bold;
}

.statistic_list_item3 > h1 {
    font-size: 50px;
    font-weight: bold;
}



.latest {
    padding: 150px 0;
    background-color: rgb(245, 245, 245);
}

    .latest .title {
        font-size: 35px;
        text-align: center;
        font-family: "Tahoma";
    }

    .latest .__ {
        margin-left: 49%;
    }

    .latest .wrapper {
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
    }

        .latest .wrapper .content {
            width: 32%;
        }

            .latest .wrapper .content > img {
                width: 100%;
                height: 200px;
            }

            .latest .wrapper .content .text {
                background-color: #fff;
                margin-top: -4px;
                padding: 20px;
            }

                .latest .wrapper .content .text > h1 {
                    font-size: 18px;
                    padding: 10px 0;
                }

                .latest .wrapper .content .text .text_img {
                    display: flex;
                    padding: 10px 0;
                }

                    .latest .wrapper .content .text .text_img > img {
                        width: 12px;
                        padding-right: 5px;
                    }

                    .latest .wrapper .content .text .text_img > p {
                        padding-right: 20px;
                        margin-right: 20px;
                        color: rgb(102, 102, 102);
                        border-right: rgb(102, 102, 102) solid 1px;
                    }

                    .latest .wrapper .content .text .text_img > h2 > a {
                        color: rgb(75, 143, 128);
                    }

                .latest .wrapper .content .text > h3 {
                    color: rgb(102, 102, 102);
                    padding: 10px 0;
                    line-height: 20px;
                }

                .latest .wrapper .content .text .button > p {
                    margin: 20px 0;
                }

                    .latest .wrapper .content .text .button > p > a {
                        border-radius: 3px;
                        padding: 5px 30px;
                        background-color: rgb(22, 160, 134);
                        color: #fff;
                    }


.partners {
    margin: 100px 0px;
}

.partners_title {
    font-size: 35px;
    text-align: center;
    font-family: "Tahoma";
}

.partners_list {
    display: flex;
    justify-content: space-between;
    margin: 75px 0px;
    padding: 0px 50px;
}

.partners_list_item {
    width: 9%;
}

    .partners_list_item > img {
        width: 100%;
        height: 100%;
    }



.testimonials {
    padding-top: 75px;
    padding-bottom: 150px;
    height: 70vh;
}

    .testimonials .wrapper {
        width: 70%;
    }

.testimonial_fone {
    width: 100%;
    height: 100%;
    position: relative;
}

    .testimonial_fone > img {
        width: 100%;
        height: 100%;
    }

.testimonials_front {
    background-color: rgb(5, 35, 59, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.testimonials_title {
    font-size: 35px;
    font-family: "Tahoma";
    top: 10%;
    left: 44%;
    z-index: 21;
    color: white;
    margin-bottom: 100px;
    text-align: center;
    margin-top: 80px;
}

    .testimonials_title .__ {
        border-top: white 2px solid;
    }

.testimomials_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.testimomials_content_cell_left,
.testimomials_content_cell_right {
    padding: 60px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;
}

.testimomials_content_cell_left {
    padding-left: 0;
}

.testimomials_content_cell_right {
    padding-right: 0;
    text-align: right;
}

.testimomials_content_img {
    width: 100px;
    height: 100px;
}

.testimomials_content_img--left {
    margin-right: 15px;
}

.testimomials_content_img--right {
    margin-left: 15px;
}

.testimomials_content_info h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.testimomials_content_info p {
    font-weight: 500;
    margin-bottom: 7px;
}

.testimomials_content_btns {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 75px;
}

.testimomials_content_btn {
    height: 3px;
    width: 30px;
    background-color: #fff;
    border: none;
}

.signup {
    text-align: center;
    margin-bottom: 100px;
}

.signup_title {
    margin-bottom: 30px;
    font-size: 30px;
}

.signup .__ {
    margin: 0 auto 30px;
}

.signup_text {
    margin: 0 auto 20px;
    width: 600px;
}

.signup_form {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 40px;
}

.signup_form_email {
    width: 50%;
    padding-left: 20px;
    border: 1px solid rgb(8, 201, 127);
}

    .signup_form_email::placeholder {
        color: #aaa;
    }

    .signup_form_email:focus-visible {
        outline: 0;
    }

.signup_form_btn {
    width: 100px;
    background-color: rgb(8, 201, 127);
    color: #fff;
    border: none;
}

.bottom {
    background-image: linear-gradient(to right bottom, rgba(5, 35, 59, 0.8), rgba(5, 35, 59, 0.8)),url(img/bottom/table.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 100px 0 100px 0;
    color: #fff;
}

.bottom_inner {
    display: flex;
    justify-content: space-between;
}

.bottom_info {
    width: 250px;
}

.bottom_logo {
    width: 35px;
}

.bottom_logo_text {
    font-size: 35px;
    margin-bottom: 20px;
}

.bottom_info_text {
    margin-bottom: 25px;
}

.bottom_social {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.bottom_social_icon {
    border-radius: 50%;
    width: 35px;
}

.bottom_contacts {
    width: 170px;
}

.bottom_contacts_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.bottom_adress {
    margin-bottom: 20px;
    padding-left: 20px;
    position: relative;
}

    .bottom_adress::before {
        content: '';
        position: absolute;
        background: url(img/heading/clock.png) top center no-repeat;
        width: 15px;
        height: 15px;
        top: 2px;
        left: 0px;
    }

.bottom_phone {
    padding-left: 20px;
    position: relative;
}

.bottom_phone_1::before {
    content: '';
    position: absolute;
    background: url(img/heading/phone.png) top center no-repeat;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 0px;
}

.bottom_email {
    display: inline-block;
    margin-bottom: 15px;
    color: #fff;
    padding-left: 20px;
    position: relative;
}

    .bottom_email::before {
        content: '';
        position: absolute;
        background: url(img/heading/clock.png) top center no-repeat;
        width: 15px;
        height: 15px;
        top: 2px;
        left: 0px;
    }

.bottom_menus {
    width: 150px;
}

.bottom_menus_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.bottom_menus_inner {
    display: flex;
    justify-content: space-between;
}

.bottom_menu_list_item {
    margin-bottom: 15px;
    position: relative;
    padding-left: 13px;
}

    .bottom_menu_list_item::before {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 5px;
        left: 0px;
    }

.bottom_gallery {
    width: 200px;
}

.bottom_gallery_title {
    font-size: 20px;
    margin-bottom: 15px;
}

.bottom_gallery_inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 15px;
}

.bottom_gallery_img1 {
    height: 75px;
    width: 75px;
}

.bottom_gallery_img2 {
    display: inline;
    margin-left: 5px;
    height: 75px;
    width: 75px;
}

.bottom_gallery_img3 {
    display: inline;
    margin-left: 5px;
    height: 75px;
    width: 75px;
}

.bottom_gallery_img4 {
    height: 75px;
    width: 75px;
}

.bottom_gallery_img5 {
    display: inline;
    margin-left: 5px;
    height: 75px;
    width: 75px;
}

.bottom_gallery_img6 {
    display: inline;
    margin-left: 5px;
    height: 75px;
    width: 75px;
}

.copyright {
    text-align: center;
    background-color: rgb(5, 35, 59);
    padding: 20px 0 20px 0;
    color: #fff;
}
